<div class="header">
{{!-- our title  --}}
  <div class="headerTitle">
    <h1>_CHAKAL_</h1>
  </div>
  {{!-- our description --}}
  <div class="headerDescription">
    <p>This is our description</p>
  </div>

</div>

{{!-- the listing for the photos --}}
{{!-- <div class="photoListing"> --}}
{{!-- for main photo--}}
  {{!-- <div class="mainPhoto"> --}}
      {{!-- <img src="{{link}}" alt=""> --}}
  {{!-- </div> --}}

  {{!-- for other photos --}}
  {{#each instances}}
  <div class="otherPhotos">
      <img src="{{link}}" alt="">
      <div>{{author}}</div>
      <p>{{description}}</p>
  </div>
  {{/each}}


