<p>{{{message}}}</p>

<h1> New photo for the Gallery </h1>

<form method="POST" action="/gallery" enctype="application/x-www-form-urlencoded">

  <ol>
    <li> Title:        <input name="title" type="text"> </li>
    <li> Author:  <input name="body" type="text"> </li>
    <li> Description:       <input name="author" type="text"> </li>
  </ol>

  <button type="submit"> CREATE NEW </button>

</form>

