<p>{{{message}}}</p>

<h1> New Article </h1>

<form method="POST" action="/articles" enctype="application/x-www-form-urlencoded">

  <ol>
    <li> Title:        <input name="title" type="text"> </li>
    <li> Body:         <input name="body" type="text"> </li>
    <li> Author:       <input name="author" type="text"> </li>
  </ol>

  <button type="submit"> CREATE NEW </button>

</form>

