<h1> New photo for the Gallery </h1>

<form method="POST" action="/gallery" enctype="application/x-www-form-urlencoded">

  <ol>
    <li> Author:        <input name="author" type="text"> </li>
    <li> Link:          <input name="link" type="text"> </li>
    <li> Description:   <input name="description" type="text"> </li>
  </ol>

  <button type="submit"> CREATE NEW </button>

</form>

