@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");
body {
  padding-top: 50px;
  background-image: url("../image/brickwall.png"); }

.topBorder {
  height: 10px;
  border-top: solid #767574 2px;
  margin-left: 10%;
  width: 80%; }

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  padding-left: 10%;
  font-family: 'Oswald', sans-serif; }
  .header .headerTitle {
    border-right: solid #767574 2px;
    padding-right: 3%;
    width: 58%;
    text-align: center;
    font-size: 20px; }
    .header .headerTitle h1 {
      margin: 0;
      color: #727170; }
  .header .headerDescription {
    padding-left: 3%;
    width: 35%; }
    .header .headerDescription p {
      font-size: 17px;
      font-weight: 400;
      margin: 0;
      padding-right: 10px;
      color: #808080; }
  .header .headerPicture {
    margin-top: 8px; }
    .header .headerPicture img {
      width: 100%;
      height: 300px;
      object-fit: cover; }

.mainDisplay {
  margin-left: 10%;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .mainDisplay .photos {
    width: calc(33% - 1rem);
    margin-top: 15px;
    padding-top: 5px;
    border-top: solid #C3C2C0 2.5px; }
    .mainDisplay .photos img {
      width: 100%;
      height: 130px;
      object-fit: cover; }
    .mainDisplay .photos p {
      font-family: 'Oswald', sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #808080;
      padding: 0;
      margin: 0; }

.mainDisplayArticle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%; }
  .mainDisplayArticle .mainPhoto {
    width: 59%; }
    .mainDisplayArticle .mainPhoto .firstP {
      font-family: 'Oswald', sans-serif;
      font-weight: 600;
      font-size: 17px;
      color: #808080;
      margin-bottom: 2px; }
    .mainDisplayArticle .mainPhoto .secondP {
      font-family: 'Oswald', sans-serif;
      font-weight: 600;
      font-size: 13px;
      color: #808080; }
    .mainDisplayArticle .mainPhoto img {
      width: 100%;
      height: 400px;
      object-fit: cover; }
  .mainDisplayArticle .rightDisplay {
    width: 38%;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-top: 45px; }
    .mainDisplayArticle .rightDisplay p {
      font-family: 'Oswald', sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #808080;
      margin-top: 0;
      padding-bottom: 5px; }
    .mainDisplayArticle .rightDisplay img {
      width: 100%;
      height: 180px;
      object-fit: cover; }

.newMain {
  padding-left: 10%;
  width: 50%; }
  .newMain .newTitle {
    text-align: center;
    border: solid black 2px; }
  .newMain .newForm li {
    margin: 20px 0;
    font-size: 20px; }

.button {
  margin-left: 40%;
  background-color: #6F6E6B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

.button2 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 37.5%;
  background-color: #6F6E6B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

.headerButtons {
  width: 80%;
  padding-left: 10%;
  display: flex;
  justify-content: space-between; }

.loginDetail {
  width: 45%; }

#loginDetail {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #808080;
  margin-left: 3%;
  border: solid #767574 2px;
  padding: 2px;
  width: 90%;
  text-align: center; }
  #loginDetail span {
    color: black; }

.button3 {
  margin-top: 15px;
  margin-bottom: 17px;
  margin-right: 15px;
  background-color: #6F6E6B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

@media screen and (max-width: 479px) {
  /* start of phone styles */
  .headerButtons {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-left: 0px;
    width: 100%; }
  .button3 {
    height: 50%;
    width: 60px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-right: 0px;
    border: none;
    padding: 0px;
    font-size: 12px; }
  .topBorder {
    border-top: none; }
  .header {
    display: flex;
    justify-content: center;
    position: relative; }
    .header .headerTitle {
      border-right: none;
      padding-left: 1.1%; }
    .header .headerDescription {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden; }
  .mainDisplayArticle {
    display: flex;
    justify-content: center;
    width: 100%; }
    .mainDisplayArticle .mainPhoto {
      width: 100%; }
  .rightDisplay {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; }
  .mainDisplay {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainDisplay .photos {
      width: 90%; } }
