<div class="newMain">

  <h1 class="newTitle"> Welcome new User. Please register with a username and a password </h1>

  <form class="newForm" method="POST" action="/user" enctype="application/x-www-form-urlencoded">

    <ol>
      <li> First Name:        <input name="firstname" type="text"> </li>
      <li> Last Name:          <input name="lastname" type="text"> </li>
      <li> Username:        <input name="username" type="text"> </li>
      <li> Password:          <input name="password" type="text"> </li>
    </ol>

    <button class="button" type="submit"> SIGN UP </button>

  </form>

</div>