<div class="newMain">

  <h1 class="newTitle"> Welcome. Please Sign in </h1>

  <form class="newForm" method="POST" action="/login" enctype="application/x-www-form-urlencoded">

    <ol>
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
    </ol>

    <button class="button" type="submit"> ENTER </button>

  </form>

  <form class="newForm" method="GET" action="/user/new" enctype="application/x-www-form-urlencoded">

    <button class="button2" type="submit"> New User </button>

  </form>

</div>